<!-- To include header.ejs -->
<%- include ("partials/header") %>

<h1>Sign Up</h1>

<form action="/register" method="post">
  <input type="text" name="username" placeholder="username" />
  <% if (errors && errors.name) { %><%= errors.name.message %><% } %>

  <input type="password" name="password" placeholder="password" />
  <button>Signup</button>
</form>

<%- include ("partials/footer") %>
