<%- include('layout-header') %>
<h1>List of Pokemon</h1>
<table>
<% result.results.forEach(pokemon => { %>
  <tr>
    <td><%= pokemon.name %></td>
  <tr>
<% }) %>
</table>
<%- include('layout-footer') %>
