<%- include('layout-header') %>
<h1>List of Pokemon</h1>
<table>
<%   data.results.forEach(pokemon => { %>
  <tr>
    <td>
      <a href="/<%= pokemon.name %>">
        <%= pokemon.name %>
      </a> 
    </td>
  <tr>
<% }) %>
</table>
<%- include('layout-footer') %>
